.active::after {
    width: 100%;
}

.PhoneInputInput {
    outline: none;
    border: none;
    background: transparent;
    padding: 0.2rem 0.6rem;
    font-size: 1.1rem;
    transition: .3s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #B8F1B0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E3FCBF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}